<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../../Styles/style.css">
</head>
<body>
    <header class="navbar">
      <div class="logo">
          <h1><i class="fa-solid fa-cubes"></i>PcStore</h1>
      </div>
      <nav class="nav-links">
        <a href="../Home/index.html">Inicio</a>
        <a href="../Promotions/promotions.html">Promociones</a>
        <a href="../AboutUs/about.html">Quienes Somos</a>
        <a href="../Contact/contact.html">Contactános</a>
      </nav>
      <div class="menu-icon">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <div class="side-bar" id="side-bar">
      <a href="../Home/index.html">Inicio</a>
      <a href="../Promotions/promotions.html">Promociones</a>
      <a href="../AboutUs/about.html">Quienes Somos</a>
      <a href="../Contact/contact.html">Contactános</a>
    </div>
    <div class="overlay" id="overlay"></div>
    <section id="quienes-somos">
      <h1><i class="fa-solid fa-user-tie"></i> Quienes somos</h1>
      <p style="margin-bottom: 0;margin-top: 10px;">
        Soy un estudiante de 24 años de ingeniería en sistemas de información apasionado por la tecnología. Actualmente trabajo como QA Automation en una empresa de primera linea.
        Siempre me gustó aprender nuevas habilidades y es así como conocí la programación, actualmente manejo diversas tecnologías pero no soy experto en ningún stack. Por ello, me propuse
        aprender MERN este año.
      </p>
      <div class="selfie-container">
        <img id="selfie" src="../../Assets/Selfie.jpg" alt="">
      </div>
      <div class="landing-container">
        <img id="landing" src="../../Assets/About.webp" alt="">
      </div>
    </section>
    <footer>
      <div class="footer-container">
        <div class="footer-author">
          <p>Autor: Tomas Sueldo</p>
        </div>
        <div class="social">
          <p>Redes: </p>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
        </div>
      </div>
    </footer>
    <script src="../../script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>