.selfie-container{
    width: 100%;
    overflow: hidden; 
    border-radius: 50%; 
    margin-top: 30px;
}

#selfie{
    width: 100%;
    height: auto; 
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

.landing-container{
    display: none;
}

@media (min-width: 768px) {
    .selfie-container, #selfie{
        display: none;
    }

    .landing-container{
        margin-top: 10%;
        display:block;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #landing{
        display: block;
        object-fit: cover;
        width: 100%; 
        height: auto; 
        border-radius: 10px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    }
  }
  