.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.card.hovered {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/* Efecto de zoom al pasar el ratón */
.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/* Estilos para los controles de la tarjeta */
.card-controls {
  margin-top: 10px;
}

.card-controls input {
  margin-right: 10px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.card-body {
  flex: 1; /* Ocupa todo el espacio disponible dentro de la card */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Alinea el contenido alrededor del eje principal */
  padding: 15px;
}

.card-body h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-body p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 15px;
}

.btn-agregar {
  margin-top: auto; /* Empuja el botón hacia abajo, ocupando el espacio restante */
  width: 100%;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-agregar:hover {
  background-color: #0056b3;
}

.novedades-container{
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


#productos h1 {
  text-align: left;
  margin-bottom: 20px;
}

.gallery-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.gallery-container img{
  width: 100%;
  scale: 75%;
}

/* Media query para pantallas más anchas (desktop) */
@media (min-width: 768px) {

  #promociones .carousel-item img{
    height: 600px;
    object-fit: contain;
  }

  .cards-container {
    flex-direction: row;
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Espacio entre las imágenes */
  }

  .gallery-container img {
    width: 100%;
    height: auto; /* Asegura que la altura se ajuste proporcionalmente */
    object-fit: cover; /* Ajusta la imagen para cubrir el área de la celda */
    transition: transform 0.5s ease-in-out; /* Transición solo para la transformación */
  }

  .gallery-container img:hover {
    transform: scale(0.9); /* Reduce la escala para achicar la imagen */
  }

}